A) Create a Class SportsFigure, which has the attributes-

1. name

2. mean_salary

3. team

4. position

B) The Class should also consist of functions which allow you to-

1. An init function that sets the attributes upon object creation

2. An output function that prints the attributes on screen

C) You should be able to create an object for each player from the salary data file.

In [2]:
import pandas as pd

In [3]:
df_salary=pd.read_csv('C:/repos/salary_data.csv')

In [4]:
df_salary.head()

,team,year,player,contract_years_remaining,contract_thru,position,full_name,salary_year,salary_total,year_counter,obs,mean_salary,mean_remaining
0,Boston Celtics,2002-03,"Bremer, J.R.",1,2002-03,G,Bremer,349458,349458,1,2,456568.5,1
1,Cleveland Cavaliers,2003-04,"Bremer, J.R.",1,2003-04,G,Bremer,563679,563679,2,2,456568.5,1
2,Charlotte Hornets,2001-02,"Brown, P.J.",7,2002-03,F,Brown,6404800,36000000,1,6,7668267,5
3,New Orleans Hornets,2002-03,"Brown, P.J.",7,2002-03,F,Brown,7044800,36000000,2,6,7668267,5
4,New Orleans Hornets,2003-04,"Brown, P.J.",4,2006-07,F,Brown,8000000,34000000,3,6,7668267,5

In [8]:
class SportsFigure:
    def __init__(self,player,mean_salary,team,position):
        self.player=player
        self.mean_salary=mean_salary
        self.team=team
        self.position=position
    def displaySportsFigure(self):
        return "Name:", self.player, "Mean Salary:", self.mean_salary, "Team:", self.team, "Position:", self.position

    def make_player(player, mean_salary, team, position):
        player = SportsFigure(player, mean_salary, team, position)
        return player

In [9]:
sports=SportsFigure()
sports.make_player()
print sports.self.player

TypeError: __init__() takes exactly 5 arguments (1 given)